/* .main{
    display: 'flex',
        justifyContent: 'space-between',
        alignItems: 'center',
        padding: '12px 24px',
        backgroundColor: 'white',
        borderBottom: '1px solid lightgray',
} */